log/*
tmp/*
test/*
Gemfile.lock
app/controllers/permissified_controller.rb
app/controllers/permissions_controller.rb
app/models/ability.rb
app/models/role.rb
app/models/product.rb
app/models/permissified_branch.rb
app/models/permissified_merchant.rb
app/models/system_fixtures
app/helpers/permissions_helper.rb
app/helpers/roles_helper.rb
app/views/permissions
app/views/roles
db/migrate/*_create_roles_tables.rb

