<h4>
  <%= render(:partial => 'entity/entity_hierarchy', :collection => [@entity]) %>
</h4>

<br/>
<br/>

<%= @active_nav_text %> Show

<br/>

<% if ! subscribed_to?(@active_nav) %><%= @entity.name %> is not subscribed to <%= @active_nav %>.<% end %>