<br/>
<table width='100%'>
  <tbody id='entities'>
    <%= render(:partial => 'row', :collection => @entity_list) if @entity_list %>
  </tbody>
  <%= render(:partial => 'add_form') if allowed_to?(:create, @entity_ability_category) %>
</table>
<br/>
