<h4>
  Overview:
  <%= render(:partial => 'entity_hierarchy', :collection => [@entity]) %>
</h4>

<br/>
<br/>

<%- (hierarchy_tags = %w(dealer corporation brand)).each do |@ancestor_tag| %>

  <%- break if current_entity.class.name.downcase == @ancestor_tag %>
  <%= render(:partial => 'entity/ancestor') %>

<%- end %>

<br/>
<br/>
<br/>
